<html>
	<style>
         body { font-family: Arial, Helvetica; color: white; background-color: #ddd; }
         .link-overlay a, .link-overlay a:visited, .link-overlay a:active, .link-overlay a:hover { color: rgb(227,76,38); font-size: 0.6em; padding: 0px}
         .button-overlay { position: absolute; left:2px; top:2px }
         .link-overlay { position: absolute; left:180px; top:0px }
      </style>
<body>
     <div class="link-overlay">
         
      </div>
      <canvas id="canvas" style="background-color:#ddd"></canvas>
</body>
</html>

